{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<div>
    <p class="text">Мы рады предложить вам широкий ассортимент качественных строительных и отделочных материалов от проверенных производителей по доступным ценам. С нами вы сможете создать уютный и комфортный дом своей мечты!</p>
</div>
<div class="ramka">
<ol class="text">
    <li>Основные категории товаров:</li>
    <li>Строительные материалы: блоки, гипсокартон, сухие строительные смеси, утеплители, гидроизоляционные и пароизоляционные материалы, метизы, строительные инструменты и многое другое.</li>
    <li>Отделочные материалы: обои, ламинат, керамическая плитка, паркет, краски, декоративные штукатурки, напольные покрытия, плинтусы, карнизы и другие элементы декора.</li>
    <li>Сантехника: ванны, унитазы, смесители, раковины, душевые кабины, водонагреватели, полотенцесушители и аксессуары для ванной комнаты.</li>
    <li>Электротовары: кабель, провод, электроустановочные изделия, щиты, счетчики, стабилизаторы напряжения, энергосберегающие лампы и другие товары для электромонтажа.</li>
    <li>Крепежные изделия: дюбели, анкеры, болты, гайки, шайбы, саморезы, гвозди и другие крепежи.</li>
</ol>
</div>
<div>
    <p class="text">
        Присоединяйтесь к числу наших довольных клиентов и делайте выгодные покупки в нашем интернет-магазине стройматериалов! Удачного ремонта и приятных покупок!
    </p>
</div>


{% endblock %}
